body {
    background-color:#fff5ec;
}

.my-button-btn-block { 
    color: #f6bfff; 
}

.my-button-btn-block {
    background-color: #6C757D;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px;
    width: 60%;
  }

.my-button-btn-block:hover {
    background-color: #f6bfff;
    color: #6C757D;
    opacity: 1
    border: 25px;
}

h1 {
    padding: 2%;
    background-color: #ffcc99;
    style="font-size:10vw"
}

h2 {
  padding: 2%;
  style="font-size:10vw"
}

footer {
    padding: 2%;
    background-color: #ffcc99;
}

div.row {
    padding: 2%;
}

text {
    color: #32373b
}

.container-fluid div{
    display: flex;
  justify-content: space-around;
}

p.thick {
    font-weight: bold;
}

.navbar-brand {
    color: #32373b;
}

.my-select {
    position: relative;
    background-color: #6c757d
  }
  
.my-select {
    background-color: #6C757D;
    color: #fff5ec;
  }

.my-select:hover {
  background-color: #f6bfff;
  color:#6C757D
}

.my-select::marker {
  background-color: #6c757d;
}

.my-select:after {
    background-color: #f6bfff;
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
.select-items {
    position: absolute;
    background-color: #f6bfff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  table.table {
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
    border: 0;
    border-color: #ffcc99;
  }
  
  th, td {
    text-align: left;
    padding: 0px;
    width: 100%;
  }

  img.icon {
    width: 100%;
  }

img.product {
  width: 100%;
}

a:link {
  color:#6C757D
}

a:visited {
  color:#bebebe
}

a:hover {
  color:#eb6bff
}

a:active {
  color:#ef92fd
}

input[type=submit] {
  width: 50%;
  background-color:#6C757D;
  color: white;
  padding: 14px 20px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#f6bfff;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}